{% extends "shop/base.html" %}

{% load static %}

{% block content %}
<!-- Product Catagories Area Start -->
<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">

        {% for product in product_list %}
            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a href="/detail/{{product.id}}">
                    <img src="{% static product.img_path %}" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From ${{ product.price }}</p>
                        <h4>{{ product.name }}</h4>
                    </div>
                </a>
            </div>
        {% endfor %}

    </div>
</div>
<!-- Product Catagories Area End -->
{% endblock content %}